/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$white_color: white;

.navbar {
  margin-bottom: 0px;
  a:visited, a:hover, a:link {
    color: $white_color !important;
    background-color: #337ab7;
  }

  li {
    a:visited, a:hover, a:link {
      color: $white_color !important;
      background-color: #337ab7;
    }
  }
}

a:visited, a:hover, a:active, a:link {
  color: dimgrey !important;
}

.layer2 {
  position: absolute;
  right: 370%;
  background-color: #337ab7;
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

.left {
  float: left;
  height: 100%;
  width: 25%;
  background-color: lightgrey;
}

.center {
  float: left;
  height: 100%;
  width: 50%;
  background-color: white;
}

.right {
  float: left;
  height: 100%;
  width: 25%;
  background-color: lightgrey;
}

div {
  margin: 0px;
}

.container {
  border: 1px solid grey;
  width: 55%;
  border-radius: 0 0 15px 15px;
  padding: 10px 10px 15px 10px;
  background-color: #337ab7;
}

body {
  background: -webkit-linear-gradient(0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
  background: -moz-linear-gradient(0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
  background: -ms-linear-gradient(0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
  background: -o-linear-gradient(0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
  background: linear-gradient(0deg, #D38312 0%, #e0e0d1 60%, #ccd1b3 100%);
}

.low_grey {
  color: dimgrey;
  font-size: 9px;
}

.project_name, .task_name {
  color: dimgrey;
  font-size: 13px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
}

.square {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.fa {
  position: relative;
}

.menu {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fcf8e3;
}